<% provide :title, "Home"%>
<% provide :imgpath, "home-bg.jpg" %>
<% provide :header_title, "Clean Blog" %>
<% provide :subheading, "A Blog Theme by Start Bootstrap" %>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <%= render @blog_posts %>
            </div>
            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
            </div>
        </div>
    </div>
</div>

<hr>